.fadein-down {
  animation: fadeInDown 0.4s forwards;
}

.fadein {
  animation: fadeIn 0.4s forwards;
}

.fadeout-up {
  animation: fadeOutUp 0.4s forwards;
}

.fadeout-up-1 {
  animation: fadeOutUp 0.2s forwards;
}

.fadein-left {
  animation: fadeInLeft 0.4s forwards;
}

.rotate {
  transition: all 0.4s linear;
}
.rotate.down {
  transform: rotate(-180deg);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -20%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeOutUp {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
