.fadein-down {
  animation: fadeInDown 0.4s forwards;
}
.fadeout-up {
  animation: fadeOutUp 0.4s forwards;
}
@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -20%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.rotate{
    transition: all .4s linear;
}
.rotate.down{
    transform: rotate(-180deg);
}

@keyframes fadeOutUp {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}
