@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply min-w-[320px] font-poppins;
}

.slick-dots {
  display: flex !important;
  text-align: unset !important;
  bottom: 0px !important;
  position: relative !important;
  @apply top-16 items-center justify-center gap-1 px-4 md:top-20;
}

.slick-dots li {
  position: unset !important;
  display: unset !important;
  height: unset !important;
  margin: unset !important;
  padding: unset !important;
  cursor: unset !important;
  width: 16% !important;
  @apply sm:w-[5.5rem] !important;
}

.slick-dots > .slick-active div {
  @apply bg-yellowPrimary;
}

.padding-layouts {
  @apply p-4;
}

@layer base {
  .app-container {
    @apply mx-auto max-w-[1350px];
  }
}

.cards:has(.card:nth-child(1):last-child, .card:nth-child(2):last-child) {
  @apply justify-center gap-x-20 lg:gap-x-12 px-0;
}
