@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply min-w-[320px] font-poppins;
}

.slick-dots:has(.hero-slider-dots) {
  display: flex !important;
  text-align: unset !important;
  bottom: 0px !important;
  position: relative !important;
  @apply top-16 items-center justify-center gap-1 px-4 md:top-20;
}

.slick-dots:has(.hero-slider-dots) li {
  position: unset !important;
  display: unset !important;
  height: unset !important;
  margin: unset !important;
  padding: unset !important;
  cursor: unset !important;
  width: 16% !important;
  @apply sm:w-[5.5rem] !important;
}

.slick-dots:has(.hero-slider-dots) > .slick-active div {
  @apply bg-yellowPrimary;
}

.slick-dots:has(.product-slider-dots) {
  display: flex !important;
  text-align: unset !important;
  bottom: 0px !important;
  position: absolute !important;
  @apply top-[29rem] items-center justify-center gap-4;
}

.slick-dots:has(.product-slider-dots) li {
  position: unset !important;
  display: unset !important;
  height: unset !important;
  margin: unset !important;
  padding: unset !important;
  cursor: unset !important;
  width: 30% !important;
  @apply sm:w-[5.5rem] !important;
}

.slick-dots:has(.product-slider-dots) > .slick-active div {
  @apply border-yellowPrimary;
}

.padding-layouts {
  @apply p-4;
}

@layer base {
  .app-container {
    @apply mx-auto max-w-[1350px];
  }
}

.cards:has(.card:nth-child(1):last-child) {
  @apply justify-center md:justify-start;
}

.card-slide {
  display: flex !important;
  justify-content: center !important;
}
